<div class="contact-triangle"></div>
<div class="contact-background">
<div id="contact" class="contact-wrapper">
    <h1 class="fontSyne">Say Hi!</h1>
    <h3 class="fontOverpass">Want to discuss a new project?</h3>
    <span class="fontOverpass">Say hello! Let's discuss your ideas and make it happen!</span>
    <form class="fontOverpass" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="floating-label-group">
            <input placeholder=" " #name="ngModel" [(ngModel)]="contactData.name" [ngClass]="{ 'input-wrong': !name.valid && name.touched, 'input-correct': name.valid && name.touched}" class="contact-name" type="text" id="name" name="name" autocomplete="off" required>
            <label class="floating-label fontOverpass">Your name</label>
            <span class="warning fontOverpass" 
                [ngClass]="{ 'visible': !name.valid && name.touched, 'hidden' : name.valid || !name.touched}"
            >Your name is required</span>
        </div>
        <div class="floating-label-group">
            <input placeholder=" " #email="ngModel" [(ngModel)]="contactData.email" [ngClass]="{ 'input-wrong': !email.valid && email.touched, 'input-correct': email.valid && email.touched}" class="email" type="email" id="email" name="email" autocomplete="off" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            <label class="floating-label fontOverpass">Your email</label>
            <span class="warning fontOverpass"
            [ngClass]="{ 'visible': !email.valid && email.touched, 'hidden' : email.valid || !email.touched}"
            >Your email is required</span>
            
        </div>
        <div class="floating-label-group">
            <textarea placeholder=" " #message="ngModel" [(ngModel)]="contactData.message" [ngClass]="{ 'input-wrong': !message.valid && message.touched, 'input-correct': message.valid && message.touched}" minlength="1" class="message" type="text" id="message" name="message" autocomplete="off" required></textarea>
            <label class="floating-label fontOverpass">Your message</label>
            <span class="warning fontOverpass"
            [ngClass]="{ 'visible': !message.valid && message.touched, 'hidden' : message.valid || !message.touched}"
            >Your message is empty</span>
        </div>
        <div class="privacy-check">
            <div class="privacy-input-p">
            <input #checkbox [(ngModel)]="checkboxChecked" name="checkbox" (click)="changeCheckbox()" class="checkbox" type="checkbox" required>
            <p class="fontOverpass">I've read the <a class="privacy-link" href="">privacy Policy</a> and agree to the processing of my data as outlined.</p>
            </div>
            <div class="privacy-warning">
            <span class="warning fontOverpass"
            [ngClass]="checkboxChecked ? 'hidden' : 'visible'"
            >Please accept the privacy policy.</span>
            </div>
        </div>
        <button [disabled]="contactForm.form.invalid" class="submit-button" type="submit" >Send message</button>
    </form>
</div>
</div>