<div id="about-me" class="about-me-wrapper">
    <h1 class="fontSyne">About Me</h1>
    <div class="about-me-text">
        <div class="about-me-text-left">
        <span class="fontOverpass">I am a Front-end developer from Munich, Germany. I help designers and companies to bring  their ideas to real life.  Creativity and logical thinking are skills that I have developed to connect ideas into quality products.</span><br>
        <br><span class="fontOverpass">If you think I'd be a good match for you projects, contact me!</span>
        <div class="about-me-icons">
            <div><div class="icon-wrapper"><img src="assets/img/house.png" alt=""></div><span class="fontOverpass">Based in Luzern</span></div>
            <div><div class="icon-wrapper"><img src="assets/img/laptop.png" alt=""></div><span class="fontOverpass">Open to work Remote</span></div>
        </div>
        <button (click)="scrollToSection('contact')" class="fontOverpass">Let's talk</button>
        </div>
        <div class="profile-pic-wrapper">
        <img class="profile-pic" src="assets/img/profilbild.jpg" alt="">
        <div class="profile-pic-border"></div>
        </div>
    </div>
    <div id="scroll-animation-first" class="arrow-wrapper"><div class="arrow-right"><div id="animation-first" class="arrow-line"></div></div></div>
</div>