<div class="landing-page-wrapper">
  <div class="title">
    <h1 class="fontSyne">Frontend Developer</h1>
    <div class="second-title">
      <div class="line"></div>
      <p class="name fontOverpass">Sandor Balazsi</p>
    </div>
  </div>
  <div>
    <div class="scroll-area">
      <a
        [href]="mailto('sandor.b@gmx.ch', 'Let\'s Connect!')"
        class="fontOverpass"
        href=""
        >sandor.b&#64;gmx.ch</a
      >
      <div>
        <div class="scroll-down-animation"></div>
        <p class="fontOverpass">
          Scroll<br />
          Down
        </p>
      </div>
    </div>
  </div>
</div>
