.landing-page-wrapper {
  height: 100dvh;
  padding-top: 204px;
  padding-left: 100px;
  padding-right: 100px;

  h1 {
    font-size: 128px;
    font-weight: 800;
    text-align: center;
    margin: 0;
  }

  .second-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .line {
      background-color: black;
      height: 3px;
      width: 65%;
    }

    p {
      width: 35%;
      font-size: 48px;
      font-weight: 700;
      margin: 0;
      min-width: 30%;
      color: #00bc8f;
      text-align: center;
    }
  }

  .scroll-area {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 300;

    a {
      text-decoration: none;
      color: black;
      transform: rotate(-90deg);
      margin-top: 80px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.scroll-down-wrapper{
  position: relative;
  width: 116px;
  height: 180px;
  overflow: hidden;
}

.down-arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 95px;
  border: 2px solid;
  animation: jumpInfinite 2s infinite ease ;
  
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 65px;
  left: -15.5px;
  width: 27px;
  height: 27px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    top: -50%;
  }
  100% {
    top: 120%;
  }
}

@media (max-width: 1280px) {
  .landing-page-wrapper {
    gap: 20%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 86px;
    }
  }

  .second-title {
    .name {
      font-size: 40px !important;
    }
  }
}

@media (max-width: 992px) {
    
  .landing-page-wrapper {
    gap: 25%;
    h1 {
      font-size: 62px;
    }
  }

  .second-title {
    .name {
      font-size: 28px !important;
    }
  }
}

@media (max-width: 768px) {
  .landing-page-wrapper {
    padding-top: 243px;
    gap: 15%;
    h1 {
      font-size: 52px;
    }
  }

  .second-title {
    
    .name {
      font-size: 23px !important;
    }
  }
}

@media (max-width: 660px) {
  .landing-page-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .line {
      width: 60% !important;
    }
    .name {
        font-size: 15px !important;
      width: unset !important;
    }
    .second-title{
        justify-content: center;
        width: 85%;
    }
    .scroll-area{
        p a{
            font-size: 18px;
        }
    }
  }
}

@media (max-width: 500px){
    .landing-page-wrapper{
        h1{
            font-size: 35px;
        }
        .second-title{
            width: 80%;
            gap: 5px;
        }
    }
}

@media (max-width: 380px) {
    .landing-page-wrapper{
        h1{
            font-size: 30px;
        }
        .second-title{
            width: 94%;
            gap: 5px;
        }
    }
}
