.skills-wrapper {
  border: 4px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;

  img {
    width: auto;
    height: auto; 
    max-width: 75px;
    max-height: 75px; 
    display: block; 
  }

  h1 {
    font-size: 78px;
    font-weight: 800;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fffcf3;
    padding: 10px;
    transition: color 0.15s;

    &:hover{
        color: #00BC8F;
    }
  }

  > div {
    display: flex;

    > div {
      padding: 120px 114px 0 114px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 120px;

      div {
        width: 100px;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
          transition: scale 0.3s ease-in-out;
        }

        &:hover {
          img {
            scale: (1.2);
          }
          span {
            color: #00bc8f;
          }
        }

        span {
            
            text-align: center;
            font-size: 16px;
            font-weight: 700;
        }
      }
    }
  }
}

.missed-skill{
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 119px;
    padding-top: 48px;

    span{
        align-self: flex-end;
        padding-left: 28px;
    }

    a{
      text-decoration: none;
      color: #00bc8f;
      padding: 5px 19px 8px 10px;
      position: relative;
      transition: all 0.3s ease;
      font-weight: 400;
  
      &:hover {
        font-weight: 800;
  
        &::after {
          transform: translateX(0) scaleX(1); /* Slide in and expand */
          opacity: 1; /* Fade in the border */
        }
      }
  
      &::after {
        content: ""; /* This is necessary for the pseudo element to work. */
        position: absolute;
        bottom: 6px; /* Position at the bottom of the parent element */
        right: 11px; /* Align the border to the right */
        height: 2px; /* Thickness of the border */
        width: 45%; /* Full width for the animation */
        background-color: #00bc8f; /* Border color */
        transform: translateX(-60%); /* Start at 60% width */
        transform-origin: left bottom; /* Start animation from the left */
        opacity: 0; /* Initially invisible */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth animation */
      }
    }
}

.arrow-wrapper{
    width: 100%;
    height: 300px;
    position: relative;
    padding-top: 22px;
    margin-left: 100px;
    
    
    .arrow{
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/assets/img/arrow-left-1.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 235px;
        height: 235px;
        transition: background-image 0.1s, width 0.5s, height 0.5s;
        cursor: pointer;

        &:hover {
            background-image: url('/assets/img/arrow-left-2.png');
            width: 307px;
            height: 307px;
        }

        &:not(:hover) {
            background-image: url('/assets/img/arrow-left-3.png');
            width: 235px;
            height: 235px;
    }
}
}
