<div class="imprint-wrapper">
    <h1 class="title fontSyne">Imprint</h1>
    <div>
        <h2 class="fontOverpass">Service Provider</h2>
        <div class="details">
            <span class="fontOverpass">Sandor Balazsi</span>
            <span class="fontOverpass">Büttenenring 8.</span>
            <span class="fontOverpass">6006 Luzern</span>
        </div>
    </div>
    <div>
        <h2 class="fontOverpass">Contact</h2>
        <span class="fontOverpass">E-mail address: sandor.b&#64;gmx.ch</span>
    </div>
</div>