.project-wrapper{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 70px;
    

    img{
      
        width: 620px;
        height: 393px ;
        object-fit: cover;
        filter: grayscale(100%);
        position: relative;
       
    }

    &.reverse {
        flex-direction: row-reverse;
    
        .project-details {
            opacity: 0;
          transform: translateX(80%);
          padding-left: 0;
        }
    
        .nr-project {
          right: unset;
          left: 0;
        }
    
        button {
          left: 0;
        }

        .img-border{
            left: unset;
            right: 20px;

            .project-arrow{
                right: unset;
                left: -26px;
            }
        }
      }

      &:hover{
    
        img{
            filter:none;
        }

        .project-details{
            opacity: 1;
            transform: translateX(0);
        }

        .img-border, & + .img-border:hover {
        display: block;
        }}
}

.img-border{
    display:none;
    border: 4px black solid;
    position: absolute;
    top: 20px;
    width: 620px;
    height: 393px;
    left: 20px;

    .project-arrow{
        background-image: url('/assets/img/small-arrow-down.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 143px;
        right: -26px;
      
    }
}

.nr-project{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;

}

.project-details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    padding-left: 140px;
    opacity: 0;
    transform: translateX(-60%);
    transition: transform 0.2s ease, opacity 0.2s ease;

        h1{
            font-size: 45px;
            font-weight: 800;
        }

        span{
            font-size: 23px;
            color: #00BC8F;
            text-size-adjust: 1px;
        }

        p{
            font-size: 16px;

        }
}
button{
    
    position: absolute;
    bottom: 0;
    left: 140px;
    padding: 20px 60px 20px 60px;
    background-color: unset;
    border: 4px black solid;
    font-size: 23px;
    cursor: pointer;
    align-self: center;
    transition: font-weight 0.5s, padding 0.5s;
    &:hover{
        font-weight: 700;
        padding: 20px 80px 20px 80px;
    }
}