.project-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  position: relative;

  .img-wrapper {
    position: relative;
  }
  img {
    width: 620px;
    height: 393px;
    object-fit: cover;
    filter: grayscale(100%);
  }

  &.reverse {
    flex-direction: row-reverse;

    .project-details {
      opacity: 0;
      transform: translateX(80%);
      padding-left: 0;
      padding-right: 140px;
    }

    .nr-project {
      right: unset;
      left: 0;
    }

    button {
      left: 0;
    }

    .img-border {
      left: unset;
      right: 20px;

      .project-arrow {
        right: unset;
        left: -26px;
      }
    }
  }

  &.hover-effect {
    @media (min-width: 1024px) {
      .nr-project {
        top: -40px;
      }
    }

    img {
      filter: none;
    }

    .project-details {
      opacity: 1;
      transform: translateX(0);
    }

    .img-border,
    & + .img-border:hover {
      display: block;
    }

    .project-arrow {
      animation: turnArrow 0.3s ease forwards;
    }
  }
}

.img-border {
  display: none;
  border: 4px black solid;
  position: absolute;
  top: 20px;
  width: 620px;
  height: 393px;
  left: 20px;

  .project-arrow {
    background-image: url("/assets/img/small-arrow-down.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 43%;
    right: -20px;
  }
}

@keyframes turnArrow {
  0% {
    transform: scale(0) rotate(0);
  }
  25% {
    transform: scale(1.14) rotate(-67.5deg);
  }
  100% {
    transform: scale(1.28) rotate(-135deg);
  }
}

.nr-project {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s ease;
}

.project-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  padding-left: 140px;
  opacity: 0;
  transform: translateX(-60%);
  transition: transform 0.2s ease, opacity 0.2s ease;

  h1 {
    font-size: 45px;
    font-weight: 800;
  }

  span {
    font-size: 23px;
    color: #00bc8f;
    text-size-adjust: 1px;
  }

  p {
    font-size: 16px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 19px;
}
button {
  left: 140px;
  padding: 20px 60px 20px 60px;
  background-color: unset;
  border: 4px black solid;
  font-size: 23px;
  cursor: pointer;
  align-self: center;
  transition: font-weight 0.5s, padding 0.5s;
  text-wrap-mode: nowrap;

  &:hover {
    font-weight: 700;
    padding: 20px 80px 20px 80px;
  }
}

@media (max-width: 1290px) {
  .project-wrapper {
    flex-direction: column;
    align-items: center;

    .nr-project {
      font-size: 36px;
    }
    img,
    .img-border {
      width: 468px;
      height: 296px;
    }
    .project-arrow {
      top: 37%;
    }
    .project-details {
      padding-top: 20px;
      padding-left: 25px;
      padding-right: 25px;
      transform: translateY(-60%);
    }

    .buttons {
      flex-direction: column;
    }
    button {
      position: unset;
    }
  }

  .reverse {
    flex-direction: column !important;
    .project-details {
      transform: translateY(-60%) !important;
      
    }
  }

  .hover-effect {
    &.reverse {
      .project-details {
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        opacity: 1;
        transform: translateY(0) !important;
      }
    }
  }
}

@media (max-width: 910px) {
  .project-wrapper {
    img,
    .img-border {
      width: 316px;
      height: 200px;
    }
  }
}

@media (max-width: 768px) {
  .project-wrapper {
    .nr-project {
      font-size: 23px;
      top: -35px;
    }
    .project-details {
      h1 {
        font-size: 32px;
      }
      span {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }

    .img-border {
      top: 10px;
      left: 10px;
    }

    &.reverse {
      .img-border {
        left: unset !important;
        right: 10px !important;
      }

      .nr-project {
        left: 25px;
        right: unset;
      }
    }

    .nr-project {
      right: 25px;
      left: unset;
    }
  }
}

@media (max-width: 400px) {
  .project-wrapper {

    .project-arrow{
      width: 25px;
      height: 25px;
      right: -10px;
    }
    img,
    .img-border {
      width: 280px;
      height: 166px;
    }
    .img-border {
      top: 3px;
      left: 3px;
    }

    &.reverse {
      .img-border {
        left: unset !important;
        right: 3px !important;

        .project-arrow {
          right: unset;
          left: -10px;
        }
      }

  
    }
  }

}
