.navigation-wrapper {
  position: fixed;
  top: 92px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fffcf3;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  scrollbar-width: none;
  
  /* Start off-screen */
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;

  overflow-y: auto; /* Makes the nav scrollable */
  overflow-x: hidden; /* Disable horizontal scrolling */


  a {
    text-decoration: none;
    font-size: 96px;
    font-weight: 700;
    color: black;
    width: 580px;
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;

    a {
      position: relative;
      text-decoration: none;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 4px;;
        height: 31%;
        background-color: black;
        transition: opacity 0.1s ease;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 7%;
        height: 4px;
        background-color: black;
        transition: width 0.3s ease;
      }

      &:hover::before {
        opacity: 0;
      }

      &:hover::after{
        animation: borderEffect 0.3s forwards ;
      }


    @keyframes borderEffect {
      0% { width: 7%; left: 0; }
      50% { width: 100%; left: 0; }
      100% { width: 42%; left: unset; right: 0;}
    }

    }
  }

  .contact-triangle {
    border-bottom: 220px solid black;
    border-right: 100vw solid transparent;
    width: 0;
    height: 0;
  }

  .nav-background{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-footer {
    width: 100%;
    max-width: 1440px;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;
    position: relative;

    h1 {
      color: white;
      font-size: 78px;
      font-weight: 800;
      align-self: start;
      margin: 0;
      margin-top: -73px;
      margin-left: 100px;
      position: relative;
      transition: color 0.15s;
      cursor: default;

      &:hover {
        color: #00bc8f;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 23px;
      font-weight: 300;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      position: absolute;
      left: 100px;
    }
  }

  .nav-footer-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 46px;
    margin-right: 100px;
    margin-bottom: 68px;

    a {
      position: unset;
      transition: transform ease 300ms;
      cursor: pointer;
      &:hover {
        transform: translate(0, -10px);
      }
    }
  }
}

.navigation-wrapper.nav-open {
  transform: translateY(0);
  opacity: 1;
  display: flex;
}

@media (max-width:1024px) {
  .navigation-wrapper{
    justify-content: space-between;
    a{
      width: 278px;
      height: 80px;
      font-size: 46px;
    }
    .nav-menu{
      height: 65%;
      justify-content: center;
    }

    .nav-footer{
      padding-bottom: 128px;
    flex-direction: column;
    gap: 56px;
    }

    .nav-footer-left{
      h1{
        font-size: 45px;
      }
    }

    .nav-footer-right{
      align-self: end;
    }
  }
}

@media (max-width:768px) {
  .nav-footer{
    padding-top: 70px;
  }

  .contact-triangle{
    border-bottom: 170px solid black !important;
  }

  .nav-footer-left{
    h1{
      margin-left: 25px !important;
    }
    a{
      left: 42px !important;
    }
  }

  .nav-footer-right{
    margin-right: 25px !important;
  }

}