<div class="navigation-wrapper" [ngClass]="{ 'nav-open': navOpen }">
    <div class="nav-menu">
        <a (click)="scrollToSection('about-me')" class="fontSyne">{{isEnglish ? 'About Me' : 'Über mich'}}</a>
        <a (click)="scrollToSection('skills')" class="fontSyne">{{isEnglish ? 'Skills' : 'Fähigkeiten'}}</a>
        <a (click)="scrollToSection('portfolio')" class="fontSyne">Portfolio</a>
    </div>
    <div>
        <div class="contact-triangle"></div>
        <div class="nav-background">
        <div class="nav-footer">
        <div class="nav-footer-left">
            <h1 class="fontSyne">Say Hi!</h1>
            <a [href]="mailto('sandor.b@gmx.ch','Let\'s Connect!')" class="fontOverpass">sandor.b&#64;gmx.ch</a>
        </div>
        <div class="nav-footer-right">
            <a href="https://github.com/SandorBalazsi" target="_blank"><img src="/assets/img/github.png" alt=""> </a>
            <a [href]="mailto('sandor.b@gmx.ch','Let\'s Connect!')"><img src="/assets/img/mail.png" alt=""></a>
            <a href="https://www.linkedin.com/in/sandor-balazsi-0690952a0" target="_blank"><img src="/assets/img/linkedin.png" alt=""></a>
        </div>
        </div>
       
        </div>
    </div>

</div>
