<div class="navigation-wrapper">
    <div class=" nav-menu">
        <a class="fontSyne" href="">About me</a>
        <a class="fontSyne" href="">Skills</a>
        <a class="fontSyne" href="">Portfolio</a>
    </div>
    <div class="contact-triangle"></div>
    <div class="nav-footer">
        <div class="nav-footer-left">
            <h1 class="fontSyne">Say Hi!</h1>
            <a class="fontOverpass" href="">sandor.b&#64;gmx.ch</a>
        </div>
        <div class="nav-footer-right">
            <img src="/assets/img/github.png" alt="">
            <img src="/assets/img/mail.png" alt="">
            <img src="/assets/img/linkedin.png" alt="">
        </div>
       
    </div>

</div>
