.navigation-wrapper {
  position: fixed;
  top: 92px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fffcf3;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  scrollbar-width: none;
  
  /* Start off-screen */
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;

  overflow-y: auto; /* Makes the nav scrollable */
  overflow-x: hidden; /* Disable horizontal scrolling */


  a {
    text-decoration: none;
    font-size: 96px;
    font-weight: 700;
    color: black;
    width: 580px;
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    a {
      position: relative;
      text-decoration: none;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 55px;
        height: 4px;
        background-color: black;
        transition: width 0.3s ease;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 4px;
        background-color: black;
        transition: width 0.3s ease;
      }

      &::before::first-line{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 4px;
        height: 20px;
        background-color: black;
        transition: height 0.3s ease;
      }

      &::after::first-line{
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 0;
        background-color: black;
        transition: height 0.3s ease;
      }

      &:hover::before {
        width: 70px;
      }

      &:hover::after{
        width: 60px;
        right: 0;
        left: unset;
      }

      &:hover::first-line{
        height: 30px;
      }
    }
  }

  .contact-triangle {
    border-bottom: 220px solid black;
    border-right: 100vw solid transparent;
    width: 0;
    height: 0;
  }

  .nav-footer {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;

    h1 {
      color: white;
      font-size: 78px;
      font-weight: 800;
      align-self: start;
      margin: 0;
      margin-top: -73px;
      margin-left: 100px;
      position: relative;
      transition: color 0.15s;
      cursor: default;

      &:hover {
        color: #00bc8f;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 23px;
      font-weight: 300;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      position: absolute;
      left: 100px;
    }
  }

  .nav-footer-right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 46px;
    margin-right: 100px;
    margin-bottom: 68px;

    a {
      position: unset;
      transition: transform ease 300ms;
      cursor: pointer;
      &:hover {
        transform: translate(0, -10px);
      }
    }
  }
}

.navigation-wrapper.nav-open {
  transform: translateY(0);
  opacity: 1;
  display: flex;
}

