<div class="footer-wrapper">
    <div class="footer-logo">
        <img src="/assets/img/logo-dark.png" alt="">
        <span class="fontOverpass">© Sandor Balazsi 2024</span>
    </div>
    <div class="footer-social">
        <img class="scroll-up" src="/assets/img/arrow-up-big.png" alt="">
        <img src="/assets/img/github.png" alt="">
        <img src="/assets/img/mail.png" alt="">
        <img src="/assets/img/linkedin.png" alt="">
        <a class="legal-notice fontOverpass" href="">Legal Notice</a>
    </div>
</div>