.footer-background {
  background-color: black;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: none;
  margin-top: -1px;
}

.footer-wrapper {
  width: calc(100% - 200px);
  display: flex;
  color: white;
  font-size: 22px;
  padding-bottom: 46px;
  justify-content: space-between;
  max-width: 1440px;

  .footer-logo {
    display: flex;
    flex-direction: column;
    img {
      width: 60px;
      height: 60px;
    }
  }

  .footer-social {
    position: relative;
    display: flex;
    align-items: center;
    gap: 46px;

    img {
      transition: transform ease 300ms;
      &:hover {
        transform: translate(0, -10px);
      }
    }

    .scroll-up {
      width: 54px;
      height: 76px;
      position: absolute;
      right: 0;
      top: -108px;
      transition: transform 0.3s ease-in-out;
      transform-origin: bottom center;
      cursor: pointer;

      &:hover {
        transform: scaleY(1.46);
      }
    }

    .legal-notice {
      position: absolute;
      right: -19px;
      bottom: -26px;
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: 400;
      padding: 5px 19px 8px 10px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        padding: 5px 10px 8px 15px;
        font-weight: 800;

        &::after {
          transform: translateX(0) scaleX(1);
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 6px;
        right: 11px;
        height: 2px;
        width: 45%;
        background-color: #00bc8f;
        transform: translateX(-60%);
        transform-origin: left;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    padding-top: 37px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .scroll-up {
    display: none;
  }

  .arrow {
    display: none;
  }

  .logo {
    align-self: center;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .copyright {
    padding-bottom: 79px;
  }

  .legal-notice {
    bottom: -230px !important;
    right: 43px !important;
  }
}

@media (min-width: 1920px) {
  .footer-wrapper {
    justify-content: space-between;
    width: 100vw;
  }
}
